.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #d5d9da;
}
.item-info {
    flex: 1;
    max-width: 25%;
}
.quantity-container input {
    text-align: center;
    width: 30px;
    margin: 0 5px;
}
.xmark {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 21px;
    cursor: pointer;
}
.ref-num {
    font-size: 11px;
    color: #2B2B2A;
}