.cart {
    background-color: #ECF0F1;
    color: var(--dark-gray);
    padding: 1rem;
}

.cart ul {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    max-height: 14rem;
    overflow: auto;
}
.subtotal {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    text-align: right;
    margin: 20px 0;
}
.subtotal span {
    color: #1A84C0;
    font-weight: bold;
}
.actions {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.back-button {
    cursor: pointer;
    border: none;
    outline: none;
    color: #1A84C0;
    background-color: transparent;
}
.checkout {
    outline: none;
    border-radius: 24px;
    padding: 0.5rem 1rem;
}
.checkout:hover {
    background-color: #00846A;
}
@media (max-width:575px) {
    .cart {
        padding: 0.5rem;
    }
}