.cart {
    background-color: #ECF0F1;
    color: var(--dark-gray);
    padding: 1rem;
}

.cart ul {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    max-height: 14rem;
    overflow: auto;
}
.subtotal {
    text-align: right;
    margin: 20px 0;
}
.subtotal span {
    color: #1A84C0;
    font-weight: bold;
}
.actions {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.back-button {
    cursor: pointer;
    border: none;
    outline: none;
    color: #1A84C0;
    background-color: transparent;
}
.checkout {
    outline: none;
    border-radius: 24px;
    padding: 10px 15px;
}
.checkout:hover {
    background-color: #00846A;
}