.form {
  margin: 0.5rem 0;
  max-height: 12rem;
  overflow: auto;
  padding: 0 15px;
  display: flex;
  gap:0.5rem;
  justify-content: space-between;
}
.form-col-1, .form-col-2 {
  width: 100%;
}
.control {
  margin-bottom: 0.4rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}

.control input {
  font: inherit;
  font-weight: bold;
  color: var(--secondary-color);
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  
  padding-left: 5px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 15px;
}

.actions button {
  font: inherit;
  background-color: rgba(255, 194, 68, 0.7);
  border-radius: 24px;
  padding: 5px 8px;
}

.actions button:hover,
.actions button:active {
  background-color: rgba(255, 194, 68, 1);
}

.actions .submit {
  background-color: var(--secondary-color);
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #00846A;
}

.invalid input {
  border-color: var(--secondary-color);
}

.error-text {
  color: var(--secondary-color);
  font-size: 12px;
  margin: 10px 0;
}
@media (max-width:575px) {
  .form {
    align-items: center;
    flex-direction: column;
  }
}