.item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #c9c8c8;
    color: var(--dark-gray);
    gap:0.5rem;
}
.image-container {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid #9B9B9B;
}
.image-container img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 50%;
}

.content {
    flex:1;
}
.content p {
    font-size: 14px;
    font-style: italic;
}
.content .meal-link {
    font-size: 13px;
    color: var(--secondary-color);
}
.content div,
.price {
    font-weight: 600;
}
.action button {
    padding: 6px 11px;
    border-radius: 24px;
}
.action button:hover {
    background-color: #00846A;
}
.price {
    flex: 0 0 150px;
}
@media (max-width:768px) {
    .image-container {
        width:60px;
        height: 60px;
    }
    .content div {
        font-size: 14px;
    }
    .content p, .content .meal-link {
        font-size: 12px;
    }
    .price {
        flex: 0 0 50px;
        font-size: 14px;
    }
    .action button {
        padding:5px;
    }
}