.meals {
    background-color: var(--light-gray);
    max-width: 50rem;
    animation: slideFromBottom 1s ease-in;
}
.meals > p:first-of-type {
    text-align: center;
    color: var(--secondary-color);
    font-weight: bold;
}
.meals ul {
    display: flex;
    flex-direction: column;
}
.http-error {
    text-align: center;
    font-weight: 700;
    color: var(--secondary-color);
    margin: 2.5rem 0;
}
@keyframes slideFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
@media (max-width:575px) {
    .meals {
        padding: 0.5rem;
    }
}