.introduction {
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    color: var(--dark-gray);
    gap: 2rem;
}

.text-container h1 {
    font-size: 2.5rem;
    margin: 1.5rem 0;
}

.text-container button {
    font: inherit;
    border-radius: 24px;
    font-weight: bold;
    padding: 10px 20px;
}

.text-container button:hover {
    background-color: #00846A;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    animation: slideFromLeft 1s ease-in;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    animation: slideFromRight 1s ease-in;
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@media (max-width:768px) {
    .introduction {
        grid-template-columns: auto;
        gap: 1rem;
    }

    .text-container h1 {
        font-size: 1.8rem;
    }

    .text-container h3 {
        font-size: 1rem;
    }
}