.service {
    color: var(--dark-gray);
    text-align: center;
    margin: 3rem 0;
}

.steps {
    display: grid;
    grid-template-columns: auto auto auto;
    gap:2rem;
    padding: 2rem 0;
}
.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.step h3, p {
    margin:10px 0;
}
.image-container {
    position:relative;
    width: 160px;
    height: 160px;
}
.image-container img {
    width:100%;
    height:100%;
    object-fit: contain;
}
@media (max-width:768px) {
    .steps {
        grid-template-columns: auto;
    }
}