.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid var(--secondary-color);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@media (max-width:575px) {
  .loading-spinner {
    height: 50vh;
  }
}